.buttongreen {
    background-color: #1DCE0A;
    border-style: none;
    border-radius: 15px;
    padding: 0 20px;
    display:inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
     position: relative; 
     overflow: hidden;
     margin: 40px 0 40px 0;
}
.buttongreen p{
    color: aliceblue;
    font-weight: bold;
    font-size: medium;
    position: relative; 
    z-index: 1; 
    }
.buttongreen svg{
     position: relative; 
    z-index: 1; 
    }
.buttongreen::before {
    content: '';
    position: absolute;
    top: -100%; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7d7d7d; /* رنگ خاکستری با کمی شفافیت */
    transition: top 0.3s ease; /* انتقال موقعیت */
    z-index: 0; /* قرار دادن لایه در پشت متن */
}

.buttongreen:hover::before {
    top: 0; /* حرکت به پایین */
}
       