
  .carousel-container {
  position: relative;
  padding: 2rem;
  background: linear-gradient(to right, #f9fafb, #fff);
  overflow: hidden;
}

.carousel-title {
  text-align: right;
  font-size: 15px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.butt{
    background-color: #1DCE0A;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 4px;
    margin: 0 0 0 10px;
}
.butt:hover{
    background-color: #8f8f8f;
}


.carousel-scroll {
  display: flex;
  gap: 1.5rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex-direction: row-reverse;
  padding: 40px 0;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(47, 51, 58, 0.425);
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
  font-size: 1.25rem;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.2s;
}

.scroll-button:hover {
  transform: translateY(-50%) scale(1.1);
}

.scroll-button.left {
  left: 1rem;
}

.scroll-button.right {
  right: 1rem;
}

.line{
  width: 62%;
  height: 0px;
  margin: 0 10px;
  border-top: 1px solid rgba(124, 124, 124, 0.889);
}
